<div class='three fields'>
  <div class='field'>
    <label>Вид недвижимости</label>
    <input name='property_type'>
  </div>

  <div class='field'>
    <label>Местоположение(адрес)</label>
    <input name='relative_name'>
  </div>

  <div class='field'>
    <label>Тип собственности</label>
    <div class='ui selection dropdown'>
      <input type='hidden' id='property_status'>
      <i class='dropdown icon'></i>
      <div class='default text'>Тип собственности</div>
      <div class='menu'>
        <div class='item' data-value='0'>Личная</div>
        <div class='item' data-value='1'>Совместная</div>
      </div>
    </div>
  </div>
</div>

<div class='two fields'>
  <div class='field'>
    <label>Год приобретения</label>
    <input name='buying_date'>
  </div>

  <div class='field'>
    <label>ФИО собственника</label>
    <input name='owners_name'>
  </div>
</div>
<hr/>
<br/>