<div class='three fields'>
  <div class='field'>
    <label>Вид ТС</label>
    <input name='vehicle_type'>
  </div>

  <div class='field'>
    <label>Марка</label>
    <input name='vehicle_mark'>
  </div>

  <div class='field'>
    <label>Тип собственности</label>
    <div class='ui selection dropdown'>
      <input type='hidden' id='vehicle_status'>
      <i class='dropdown icon'></i>
      <div class='default text'>Тип собственности</div>
      <div class='menu'>
        <div class='item' data-value='0'>Личная</div>
        <div class='item' data-value='1'>Совместная</div>
      </div>
    </div>
  </div>
</div>

<div class='three fields'>
  <div class='field'>
    <label>Год приобретения</label>
    <input name='vehicle_buying_date'>
  </div>

  <div class='field'>
    <label>Год выпуска</label>
    <input name='vehicle_creating_date'>
  </div>

  <div class='field'>
    <label>ФИО собственника</label>
    <input name='vehicle_owners_name'>
  </div>
</div>
<hr/>
<br/>