<div id="container">
  <div id="content" >
        <div class="ui segment" id = 'online_credit'>
            <h2 class="ui header dividing" style="text-align: center;">Расчёт оценки онлайн заполнения кредита</h2>

            <% if (@mark >= @necessaryMark) %>
                <h2 style="text-align: center">
                  Ваша заявка одобрена.<br/>
                  Приходите в банк с документами для возможного оформления кредитования.
                </h2>
            <% else %>
                <h2 style="text-align: center">
                  К сожалению ваши данные слабо удовлетворяют условиям выдачи кредита.
                  Попробуйте указать иную сумму, или пройти онлайн кредитование через некоторое время.
                </h2>
            <% end %>
        </div>
    </div>
</div>
