<div class='four fields'>
  <div class='field'>
    <label>Тип родства</label>
    <input name='relative_type'>
  </div>

  <div class='field'>
    <label>ФИО родственника</label>
    <input name='relative_name'>
  </div>

  <div class='field'>
    <label>День рождения</label>
    <input name='relative_birthday'>
  </div>

  <div class='inline fields'>
    <label>На иждивении</label>
    <div class='field'>
      <div class='ui checkbox radio'>
        <input type='radio' id='relative_dependency_yes' name='score_existance'>
        <label for='relative_dependency_yes'>Да</label>
      </div>
    </div>

    <div class='field'>
      <div class='ui checkbox radio'>
        <input type='radio' id='relative_dependency_no' name='score_existance'>
        <label for='relative_dependency_no'>Нет</label>
      </div>
    </div>
  </div>
</div>
<br/>