<h3>*Сфера деятельности</h3>

<div class="ui selection dropdown">
  <%= f.number_field :"#{name}_activity_status", value: @bank_credit_inputs["#{name}_activity_status"], type: "hidden" %>
  <i class="dropdown icon"></i>
  <div class="default text">Сфера деятельности</div>
  <div class="menu">
    <% @client_job_types.each do |client_job_type|%>
        <div class="item" data-value="<%= client_job_type.id %>" ><%= client_job_type.name %></div>
    <%end%>

  </div>
</div>
