<div class="two fields">
  <div class="field">
    <label>*Работаю с</label>
    <input id="<%= name %>-start-job-date" type="text" placeholder="Начало работы">
  </div>

  <div class="field">
    <label>*До</label>
    <input id="<%= name %>-end-job-date" type="text" placeholder="Окончание завершения работы">
  </div>
</div>

<div class="field">
  <div class="ui checkbox">
    <input type="checkbox" id="<%= name %>_is_contract">
    <label for="<%= name %>_is_contract">Является ли трудовой договор срочным.</label>
  </div>
</div>