<div class="two fields">
  <div class="field">
    <label>*Работаю с</label>
    <input id="start-job-date" type="text" placeholder="Начало работы">
  </div>

  <div class="field">
    <label>*До</label>
    <input id="end-job-date" type="text" placeholder="Окончание завершения работы">
  </div>
</div>

<div class="field">
  <div class="ui checkbox">
    <input type="checkbox" name="is_contract">
    <label>Является ли трудовой договор срочным.</label>
  </div>
</div>