<div class="field">
  <label>*Наименование организации</label>
  <%= f.text_field :"#{name}_organization_name", value: @bank_credit_inputs["#{name}_organization_name"], placeholder: "Наименование организации" %>
</div>

<div class="field">
  <label>*Должность</label>
  <%= f.text_field :"#{name}_job_name", value: @bank_credit_inputs["#{name}_job_name"], placeholder: "Должность" %>
</div>

<div class="field">
  <label>*Адрес</label>
  <%= f.text_field :"#{name}_organization_address", value: @bank_credit_inputs["#{name}_organization_address"], placeholder: "Адрес организации" %>
</div>