<div class="field">
  <label>Наименование организации</label>
  <input id="<%= name %>_organization_name" type="text" placeholder="Наименование организации">
</div>

<div class="field">
  <label>Должность</label>
  <input id="<%= name %>_job_name" type="text" placeholder="Должность">
</div>

<div class="field">
  <label>Адрес</label>
  <input id="<%= name %>_organization_address" type="text" placeholder="Адрес организации">
</div>