<h3>Стаж работы в организации:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="experience_in_organization">
  <i class="dropdown icon"></i>
  <div class="default text">Стаж работы в организации</div>
  <div class="menu">
    <div class="item" data-value="0">До 6 месяцев</div>
    <div class="item" data-value="1">От 6 месяцев до 1 года</div>
    <div class="item" data-value="2">От 1 до 3 лет</div>
    <div class="item" data-value="3">От 3 до 5 лет</div>
    <div class="item" data-value="4">От 5 до 10 лет</div>
    <div class="item" data-value="5">От 10 до 20 лет</div>
    <div class="item" data-value="6">Свыше 20 лет</div>
  </div>
</div>