<h3>Численность работающих в организации:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="<%= name %>_employers_count">
  <i class="dropdown icon"></i>
  <div class="default text">Численность работающих в организации</div>
  <div class="menu">
    <div class="item" data-value="6">До 10 человек</div>
    <div class="item" data-value="1">От 11 до 30 человек</div>
    <div class="item" data-value="2">От 31 до 50 человек</div>
    <div class="item" data-value="3">От 51 до 100 человек</div>
    <div class="item" data-value="4">Больше 100 человек</div>
    <div class="item" data-value="5">Затрудняюсь ответить</div>
  </div>
</div>