<h3>Контактные телефоны: (по шаблону: +375, код города (оператора), номер телефона) </h3>

<div class="ui vertical accordion menu">
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Заполните список телефонов:
    </a>
    <div class="content">
      <div class="ui form">
        <br/><br/>
        <div class="field">
          <label>Бухгалтерия</label>
          <input id="<%= name %>_organization-buh-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>

        <div class="field">
          <label>Отдел кадров</label>
          <input id="<%= name %>_organization-head-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>

        <div class="field">
          <label>Прочие</label>
          <input id="<%= name %>_organization-another-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>
      </div>
    </div>
  </div>
</div>