<h3>Контактные телефоны: (по шаблону: +375, код города (оператора), номер телефона) </h3>

<div class="ui vertical accordion menu">
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Заполните список телефонов:
    </a>
    <div class="content">
      <div class="ui form">
        <br/><br/>
        <div class="field">
          <label>Бухгалтерия</label>
          <%= f.text_field :"#{name}_organization_buh_phone", value: @bank_credit_inputs["#{name}_organization_buh_phone"], placeholder: "+375-XX-XXXXXXX" %>
        </div>

        <div class="field">
          <label>Отдел кадров</label>
          <%= f.text_field :"#{name}_organization_head_phone", value: @bank_credit_inputs["#{name}_organization_head_phone"], placeholder: "+375-XX-XXXXXXX" %>
        </div>

        <div class="field">
          <label>Прочие</label>
          <%= f.text_field :"#{name}_organization_another_phone", value: @bank_credit_inputs["#{name}_organization_another_phone"], placeholder: "+375-XX-XXXXXXX" %>
        </div>
      </div>
    </div>
  </div>
</div>
