<h3>Адреса:</h3>

<div class="field">
  <label>*Адрес регистрации по месту жительства</label>
  <input id="<%= name %>-registration-address" type="text" placeholder="Адрес регистрации по месту жительства">
</div>

<div class="field">
  <label>*Адрес регистрации по месту пребывания</label>
  <input id="<%= name %>-registration-place" type="text" placeholder="Адрес регистрации по месту пребывания">
</div>

<div class="field">
  <label>*Адрес места фактического проживания</label>
  <input id="<%= name %>-actual-living-place" type="text" placeholder="Адрес места фактического проживания">
</div>

<div class="field">
  <label>*Срок проживания в населенном пункте по адресу фактического проживания</label>
  <input id="<%= name %>-living-age" type="number" min="0" placeholder="Срок проживания в населенном пункте по адресу фактического проживания">
</div>