<h3>Адреса:</h3>

<div class="field">
  <label>*Адрес регистрации по месту жительства</label>
  <%= f.text_field "#{name}_registration_address", value: @bank_credit_inputs["#{name}_registration_address"], placeholder: "Адрес регистрации по месту жительства"%>
</div>

<!--<div class="field">-->
  <!--<label>*Адрес регистрации по месту пребывания</label>-->
  <!--<% f.text_field "#{name}_registration_place", value: @bank_credit_inputs["#{name}_registration_place"], placeholder: "Адрес регистрации по месту пребывания"%>-->
<!--</div>-->

<div class="field">
  <label>*Адрес места фактического проживания</label>
  <%= f.text_field "#{name}_actual_living_place", value: @bank_credit_inputs["#{name}_actual_living_place"], placeholder: "Адрес места фактического проживания"%>
</div>

<div class="field">
  <label>*Срок проживания в населенном пункте по адресу фактического проживания (в годах)</label>
  <%= f.number_field "#{name}_living_age", value: @bank_credit_inputs["#{name}_living_age"], placeholder: "Срок проживания в населенном пункте по адресу фактического проживания", min: 0%>
</div>
