<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step<%= step - 1 %>')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="navigate('#step<%= step + 1 %>')">
  Далее
</button>