<h3>*Образование:</h3>

<div class="ui selection dropdown">
  <%= f.number_field "#{name}_education", value: @bank_credit_inputs["#{name}_education"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Образование</div>
  <div class="menu">
    <div class="item" data-value="1">Ниже среднего</div>
    <div class="item" data-value="2">Неоконченное среднее</div>
    <div class="item" data-value="3">Среднее</div>
    <div class="item" data-value="4">Средне специальное</div>
    <div class="item" data-value="5">Неоконченное высшее</div>
    <div class="item" data-value="6">Высшее</div>
    <div class="item" data-value="7">Два или более высших</div>
    <div class="item" data-value="8">Мва / Учёная степень</div>
  </div>
</div>
