<h3>*Образование:</h3>

<div class="ui selection dropdown">
  <%= f.number_field "#{name}_education", value: @bank_credit_inputs["#{name}_education"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Образование</div>
  <div class="menu">
    <% @client_eduction.each do |eduction|%>
        <div class="item" data-value="<%= eduction.id %>" ><%= eduction.name %></div>
    <%end%>
  </div>
</div>
