<h3>Образование:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="<%= name %>-education">
  <i class="dropdown icon"></i>
  <div class="default text">Образование</div>
  <div class="menu">
    <div class="item" data-value="0">Ниже среднего</div>
    <div class="item" data-value="1">Неоконченное высшее</div>
    <div class="item" data-value="2">Среднее</div>
    <div class="item" data-value="3">Средне специальное</div>
    <div class="item" data-value="4">Неоконченное высшее</div>
    <div class="item" data-value="5">Высшее</div>
    <div class="item" data-value="6">Два или более высших</div>
    <div class="item" data-value="7">Мва / Учёная степень</div>
  </div>
</div>