<h3>Семейное положение</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="<%= name %>_family_status">
  <i class="dropdown icon"></i>
  <div class="default text">Семейное положение</div>
  <div class="menu">
    <div class="item" data-value="1">Холост / не замужем</div>
    <div class="item" data-value="2">В разводе</div>
    <div class="item" data-value="3">Женат / замужем</div>
    <div class="item" data-value="4">Гражданский брак</div>
    <div class="item" data-value="5">Вдовец / вдова</div>
  </div>
</div>