<h3>Семейное положение</h3>

<div class="ui selection dropdown">
  <%= f.text_field "#{name}_family_status", value: @bank_credit_inputs["#{name}_family_status"], type: "hidden"%>
  <i class="dropdown icon"></i>
  <div class="default text">Семейное положение</div>
  <div class="menu">
    <% @client_family_status.each do |family_status|%>
        <div class="item" data-value="<%= family_status.id %>" ><%= family_status.name %></div>
    <%end%>
  </div>
</div>
