<h3>Менялось ли ФИО:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="living_conditions">
  <i class="dropdown icon"></i>
  <div class="default text">Менялось ли ФИО</div>
  <div class="menu">
    <div class="item" data-value="0" onclick="toggleElement('#changing_reason', true)">Да</div>
    <div class="item" data-value="1" onclick="toggleElement('#changing_reason', false)">Нет</div>
  </div>
</div>
<div class="field">
  <textarea id="changing_reason" class="invisible" type="text" placeholder="Старые данные и причины их изменения."></textarea>
</div>