<h3>Данные о заявителе</h3>

<div class="three fields">
  <div class="field">
    <label>*Имя</label>
    <input id="customers-firstname" type="text" placeholder="Имя">
  </div>

  <div class="field">
    <label>*Фамилия</label>
    <input id="customers-lastname" type="text" placeholder="Фамилия">
  </div>

  <div class="field">
    <label>*Отчество</label>
    <input id="customers-patronymic" type="text" placeholder="Отчество">
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Число, месяц, год, рождения</label>
    <input id="customers-birthdate" type="text" placeholder="Число, месяц, год, рождения">
  </div>

  <div class="field">
    <label>*Идентификационный номер</label>
    <input id="customers-id" type="text" placeholder="Идентификационный номер">
  </div>

  <div class="field">
    <label>*Возраст</label>
    <input id="customers-age" type="number" placeholder="Колличество полных лет">
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>*Гражданство</label>
    <input id="customers-country" type="text" placeholder="Гражданство">
  </div>

  <div class="field">
    <label>*Место рождения</label>
    <input id="customers-birthplace" type="text" placeholder="Место рождения">
  </div>
</div>

<div class="field">
  <label>Длительность подтверждаемого проживания на территории РБ (заполняется лицом без гражданства/иностранным гражданином, постоянно проживающим в Республике Беларусь)</label>
  <input id="customers-rb-age" type="number" placeholder="Колличество полных лет">
</div>