<h3>Данные о документе, удостоверяющем личность.</h3>

<div class="three fields">
  <div class="field">
    <label>*Наименование документа</label>
    <input id="document_type" type="text" placeholder="Наименование документа">
  </div>

  <div class="field">
    <label>*Серия</label>
    <input id="document_series" type="text" placeholder="Серия">
  </div>

  <div class="field">
    <label>*Номер</label>
    <input id="document_number" type="text" placeholder="Номер">
  </div>
</div>

<div class="two fields">
  <div class="field">
    <label>*Дата выдачи</label>
    <input id="document_given_date" type="date" placeholder="Наименование документа">
  </div>

  <div class="field">
    <label>*Дата окончания</label>
    <input id="document_end_date" type="date" placeholder="Серия">
  </div>
</div>