<h3>Контактные телефоны: (по шаблону: +375, код города (оператора), номер телефона) </h3>

<div class="ui vertical accordion menu">
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Заполните список телефонов:
    </a>
    <div class="content">
      <div class="ui form">
        <br/><br/>
        <div class="field">
          <label>Домашний телефон по адресу постоянной регистрации</label>
          <input id="<%= name %>-constant-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>

        <div class="field">
          <label>Домашний телефон по адресу фактического проживания</label>
          <input id="<%= name %>-actual-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>

        <div class="field">
          <label>Рабочий телефон</label>
          <input id="<%= name %>-work-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>

        <div class="field">
          <label>Мобильный телефон</label>
          <input id="<%= name %>-mobile-phone" type="text" placeholder="+375-XXX-НОМЕР">
        </div>
        </div>
      </div>
  </div>
</div>