<h3>Контактные телефоны: (по шаблону: +375, код города (оператора), номер телефона) </h3>

<div class="ui vertical accordion menu">
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Заполните список телефонов:
    </a>
    <div class="content">
      <div class="ui form">
        <br/><br/>
        <div class="field">
          <label>Домашний телефон по адресу постоянной регистрации</label>
          <%= f.text_field "#{name}_constant_phone", value: @bank_credit_inputs["#{name}_constant_phone"], placeholder: "+375-XX-XXXXXXX"%>
        </div>

        <div class="field">
          <label>Домашний телефон по адресу фактического проживания</label>
          <%= f.text_field "#{name}_actual_phone", value: @bank_credit_inputs["#{name}_actual_phone"], placeholder: "+375-XX-XXXXXXX"%>
        </div>

        <div class="field">
          <label>Рабочий телефон</label>
          <%= f.text_field "#{name}_work_phone", value: @bank_credit_inputs["#{name}_work_phone"], placeholder: "+375-XX-XXXXXXX"%>
        </div>

        <div class="field">
          <label>Мобильный телефон</label>
          <%= f.text_field "#{name}_mobile_phone", value: @bank_credit_inputs["#{name}_mobile_phone"], placeholder: "+375-XX-XXXXXXX"%>
        </div>
        </div>
      </div>
  </div>
</div>
