<div id="container">
  <div id="content" class="account-settings">
    <div class="ui segment" id="credits">
          <div class="ui success message">
            <%= label_tag :time, 'Дата обновлена' %>
            <br/>
            <%= label_tag :cur_time, "Текущая дата = #{@cur_date}" %>
          </div>
    </div>
  </div>
</div>
