<div class="container">
  <div class="ui segment">

    <form class="ui form error success">

      <h2 class="ui header">Заявление - анкета для получения кредита</h2>

      <div class="request-info">
        <p>Для получения кредитной поддержки в ОАО «Rude-банк» Вам необходимо заполнить данную заявку.</p>
        <p>Данная заявка оформляется оператором ОАО «Rude-банк».</p>
      </div>

      <div id="step1" class="step">
        <p><b>ШАГ 1 из 4</b> - Заполните данные о порядке предоставления кредита.</p>
        <%= render partial: "bank_credit/credit_partials/credit_info/credit_info" %>
      </div>

      <div id="step2" class="step">
        <p><b>ШАГ 2 из 4</b> - Заполните информацию о размере и системе погашения кредита.</p>
        <%= render partial: "bank_credit/credit_partials/credit_sum_info/credit_sum_info" %>
      </div>

      <div id="step3" class="step">
        <p><b>ШАГ 3 из 4</b> - Заполните общие сведения о заявителе.</p>
        <%= render partial: "bank_credit/credit_partials/applicant_info/applicant_info" %>
      </div>

      <div id="step4" class="step">
        <p><b>ШАГ 4 из 4</b> - Заполните данные о месте работы заявителя.</p>
        <%= render partial: "bank_credit/credit_partials/job_info/job_info" %>
      </div>

      <div class="request-info">
        <br/>
        <p>Разделы обозначенные как (*) обязательные для заполнения</p>
      </div>

    </form>
  </div>
</div>