<div id="container">
  <div id="content">

    <div class="ui segment" id="credits">
      <div class="ui success message">
        <h3>Пользователь создан</h3>
        <label class='user_labels'>Имя: <%= @user.name %></label>
        <label class='user_labels'>Роль: <%= @user.role.name %></label>
        <label class='user_labels'>Пароль: <%= @user.password %></label>
      </div>
    </div>
  </div>
</div>
