<h3>*Сумма кредита</h3>

<div class="field">
  <input id="credit_sum" type="number" min="0" placeholder="сумма кредита в белорусских рублях">
</div>

<h3>*Срок кредита</h3>
<div class="field">
  <input id="credit_term" type="number" min="0" placeholder="месяцев до даты">
</div>

<h3>*Срок освоения(предельная дата выдачи) кредита</h3>
<div class="field">
  <input id="credit_limit_term" type="number" min="0" placeholder="месяцев до даты">
</div>

<h3>Совокупный доход (для кредита на финансирование недвижимости или автокредита)</h3>
<div class="ui selection dropdown">
  <input type="hidden" id="total_income">
  <i class="dropdown icon"></i>
  <div class="default text">Совокупный доход (для кредита на финансирование недвижимости или автокредита)</div>
  <div class="menu">
    <div class="item" data-value="1">Да</div>
    <div class="item" data-value="2">Нет</div>
  </div>
</div>

<h3>*Будете ли Вы страховаться от несчастных случаев и болезней</h3>
<div class="ui selection dropdown">
  <input type="hidden" id="make_insurance">
  <i class="dropdown icon"></i>
  <div class="default text">Будете ли Вы страховаться от несчастных случаев и болезней</div>
  <div class="menu">
    <div class="item" data-value="1">Да</div>
    <div class="item" data-value="2">Нет</div>
  </div>
</div>

<h3>*Способ погашения кредита</h3>
<div class="ui selection dropdown">
  <input type="hidden" id="repayment_method">
  <i class="dropdown icon"></i>
  <div class="default text">Способ погашения кредита</div>
  <div class="menu">
    <div class="item" data-value="1">Стандартный</div>
    <div class="item" data-value="2">Равными долями</div>
  </div>
</div>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step1')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="navigate('#step3')">
  Далее
</button>