<div id="header" class="ui inverted vertical segment no-print">
  <div class="ui stackable divided grid">

    <div class="row">
      <div class="twelve wide column logo">

        <a href="<%= root_path%>" class = 'header_link'><%= image_tag('cash.png')%> <span>Rude Bank</span></a>
      </div>
    </div>
  </div>
</div>
