<div class='three fields'>
  <div class='field'>
    <label>Вид задолженности</label>
    <input placeholder = 'Вид задолженности' />
  </div>

  <div class='field'>
    <label>Наименование банка</label>
    <input placeholder = 'Наименование банка' />
  </div>

  <div class='field'>
    <label>Сумма по договору</label>
    <input type='number' placeholder = 'Сумма по договору' />
  </div>
</div>

<div class='three fields'>
  <div class='field'>
    <label>*Валюта</label>
    <div class='ui selection dropdown'>
      <input type='hidden' id='currency-type'>
      <i class='dropdown icon'></i>
      <div class='default text'>Выберите тип валюты</div>
      <div class='menu'>
        <div class='item' data-value='0'>Белорусские рубли</div>
        <div class='item' data-value='1'>Евро</div>
        <div class='item' data-value='2'>Доллары США</div>
      </div>
    </div>
  </div>

  <div class='field'>
    <label>Цель кредита</label>
    <input placeholder = 'Цель кредита' />
  </div>

  <div class='field'>
    <label>Остаток задолженности</label>
    <input type='number' placeholder = 'Остаток задолженности' />
  </div>
</div>

<div class='two fields'>

  <div class='field'>
    <label>Сумма просроченногоосновного долга</label>
    <input type='number' placeholder = 'Сумма просроченного основного долга' />
  </div>

  <div class='field'>
    <label>Сумма просроченных процентов</label>
    <input type='number' placeholder = 'Сумма просроченных процентов' />
  </div>
</div>
<hr/>
</br>