<div class="container">
  <div class="ui segment">

    <form class="ui form error success">

      <h2 class="ui header">Предварительная разработка модуля опросника</h2>
        <div class="request-info">
          <h3 class="centered_text">На данный момент ведётся разработка данного модуля</h3>
        </div>
        <ul>
            <li><%= link_to "Перейти к разделу онлайн заполнения", new_online_credit_path %></li>
            <li><%= link_to "Перейти к разделу целевого заполнения посредством личного визита", new_bank_credit_path %></li>
            <li><%= link_to "Перейти к разделу администрирования кредитов", credit_administrate_index_path %></li>
        </ul>
    </form>

  </div>
</div>