<div class='field'>
    <label>Среднемесячные доходы за последние 6 месяцев</label>
    <input type="number" name='last_incomings'>
</div>

<div class='field'>
    <label>Среднемесячные расходы за последние 6 месяцев </label>
    <input type="number" name='last_outcomings'>
</div>

<div class='field'>
    <label>Среднемесячные доход семьи за последние 6 месяцев</label>
    <input type="number" name='family_incomings'>
</div>

<br/><br/>
<button type="button" class="ui button orange" onclick="navigate('#step8')">
  Назад
</button>

<button type="button" class="ui button orange" onclick="navigate('#step10')">
  Далее
</button>