<h3>*Предлагаю в обеспечение исполнения кредитных обязательств:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="issuance_method">
  <i class="dropdown icon"></i>
  <div class="default text">Способ выдачи</div>
  <div class="menu">
    <div class="item" data-value="0">Поручительство физических(-го) лиц(-а)</div>
    <div class="item" data-value="1">Поручительство юридического лица (индивидуального предпринимателя)</div>
    <div class="item" data-value="2">Залог недвижимости (ипотека) жилых помещений </div>
    <div class="item" data-value="3">Залог недвижимости (ипотека) кроме жилых помещений</div>
    <div class="item" data-value="4">Залог транспортных средств</div>
    <div class="item" data-value="5">Залог ценных бумаг</div>
    <div class="item" data-value="6">Залог мерных слитков драгоценных металлов </div>
    <div class="item" data-value="7">Гарантийный депозит денег в белорусских рублях</div>
    <div class="item" data-value="8">Гарантийный депозит денег в иностранной валюте</div>
    <div class="item" data-value="9">Залог имущественных прав на строящийся объект недвижимости</div>
    <div class="item" data-value="10">Залог имущественных прав на приобретаемый объект недвижимости</div>
    <div class="item" data-value="11">Залог имущественных прав на приобретаемое транспортное средство </div>
    <div class="item" data-value="12">Неустойка</div>
  </div>
</div>