<h3>*Наличие в ОАО «Rude-bank» счета, на который перечисляется заработная плата и/или приравненные к ней доходы</h3>

<div class="two fields">
  <div class="field">
    <div class="ui checkbox radio">
      <input type="radio" id="score_existance_yes" name="score_existance" onclick="toggleElement('#account_id', true)">
      <label for="score_existance_yes">Да</label>
    </div>
  </div>

  <div class="field">
    <div class="ui checkbox radio">
      <input type="radio" id="score_existance_no" name="score_existance" onclick="toggleElement('#account_id', false)">
      <label for="score_existance_no">Нет</label>
    </div>
  </div>
</div>

<input id="account_id" class="invisible" type="text" placeholder="Номер счёта">