<div id="collateral_value">

</div>
<!--<h3>Предмет залога, предлагаемый в обеспечение исполнения кредитных обязательств, оценивается:</h3>-->

<!--<div class="ui vertical accordion menu">-->
<!--<div class="item">-->
<!--<a class="title">-->
<!--<i class="dropdown icon"></i>-->
<!--Оценка предмета залога (в случае его существования)-->
<!--</a>-->

<!--<div class="content">-->
<!--<div class="ui form">-->
<!--<br/>-->

<!--<div class="field">-->
<!--<label>Заявителем самостоятельно согласно внутренней оценке в сумме</label>-->
<!--
<% f.number_field :collateral_customer, value: @bank_credit_inputs["collateral_customer"], min: 0, placeholder: "Заявителем самостоятельно согласно внутренней оценке в сумме" %>-->
<!--</div>-->
<!--<div class="field">-->
<!--<label>По независимой оценке, определенной независимым оценщиком в сумме</label>-->
<!--
<% f.number_field :collateral_employee, value: @bank_credit_inputs["collateral_employee"], min: 0, placeholder: "По независимой оценке, определенной независимым оценщиком  в сумме" %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

