<h3>*Прошу предоставить кредит на:</h3>

<div class="ui vertical accordion menu">

  <%= render partial: "bank_credit/credit_partials/credit_info/credit_variants/home" %>
  <%= render partial: "bank_credit/credit_partials/credit_info/credit_variants/auto" %>
  <%= render partial: "bank_credit/credit_partials/credit_info/credit_variants/card" %>
  <%= render partial: "bank_credit/credit_partials/credit_info/credit_variants/credit_factory" %>
</div>