<h3>*Порядок предоставления:</h3>

<div class="ui selection dropdown">
  <input type="hidden" id="granted_procedure">
  <i class="dropdown icon"></i>
  <div class="default text">Порядок предоставления</div>
  <div class="menu">
    <div class="item" data-value="0">Единовременно</div>
    <div class="item" data-value="1">Невозобновляемая кредитная линия</div>
    <div class="item" data-value="2">Невозобновляемая кредитная линия (с использованием банковской платежной карточки)</div>
  </div>
</div>