<div id="container">
    <div id="content">
      <div class="ui segment" id = 'credits'>

        <form class="ui form error success">

          <h2 class="ui header" style="text-align: center">Подтверждение кредита</h2>
          <%= render partial: "credit_info" %>
          <%= render partial: "client_info" %>
          <% if @client_credit.is_require == 1 %>
            <h2 class="ui header" style="text-align: center">Выдача кредита клиенту одобрена</h2>
          <% else %>
              <h2 class="ui header" style="text-align: center">Выдача кредита клиенту не реккомендуется</h2>
          <% end %>

          <div style="display: flex">
            <%= link_to 'Отменить регистрацию кредита', applyment_decline_path, class: 'ui button orange' if can? :manage, ClientCredit %>
            <%= link_to 'Оформить кредит', applyment_confirmation_path, style: "margin-left: 150px", class: 'ui button orange' if can? :manage, ClientCredit%>
          </div>
        </form>
      </div>
    </div>
</div>
