<div class="container">
  <div class="ui segment">

    <form class="ui form error success">
      <h2 class="ui header" style="text-align: center">Информация о кредите</h2>
      <%= render partial: "credit_info" %>
      <div style="display: flex">
        <%= link_to 'Закрыть кредит', credit_close_path %>
      </div>
    </form>
  </div>
</div>