<div class="item">
  <a class="title">
    <i class="dropdown icon"></i>
    Потребительский кредит по технологии "Кредитная фабрика"
  </a>
  <div class="content">
    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_9" name="credit_type" value="9" type="radio">
            <label for="credit_type_9">На потребительские цели  под поручительство физических лиц</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_10" name="credit_type" value="10" type="radio">
            <label for="credit_type_10">На потребительские цели  «без обеспечения»  под неустойку</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>