<div class="item">
  <a class="title">
    <i class="dropdown icon"></i>
    Финансирование недвижимости
  </a>
  <div class="content">
    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_1" name="credit_type" value="1" onclick="toggleElement('#bank_credit_another_home_credit_type', false)" type="radio">
            <label for="credit_type_1">На строительство жилья</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_2" name="credit_type" value="2" onclick="toggleElement('#bank_credit_another_home_credit_type', false)" type="radio">
            <label for="credit_type_2">На приобретение жилья</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_3" name="credit_type" value="3" onclick="toggleElement('#bank_credit_another_home_credit_type', false)" type="radio">
            <label for="credit_type_3">На приобретение земельного участка</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input id="credit_type_4" name="credit_type" value="4" onclick="toggleElement('#bank_credit_another_home_credit_type', true)" type="radio">
            <label for="credit_type_4" onclick="toggleElement('#another_home_credit_type', true)">Другой вид кредита на финансирование недвижимости</label>
          </div>
        </div>
        <div class="field invisible" id="credit_type_another_home">
          <%= f.text_field :another_home_credit_type, value: @bank_credit_inputs["another_home_credit_type"], class: "invisible", type: "text", placeholder: "Укажите вид кредита на финансирование" %>
        </div>
      </div>
    </div>
  </div>
</div>