.request-info {
    margin-top: 10px;
}

.request-info p {
    margin: 0px 0px 1.5em;
}

.step {
    padding: 30px 5px; display: none;
}

.step p {
    background: rgba(255, 187, 91, 0.4); padding: 10px;
}

.ui.selection.dropdown, .ui.vertical.menu {
    width: 100%;
}

.ui.segment {
    box-shadow: none;
    border-radius: 0;
}

.ui.checkbox label {
    cursor: pointer;
}

.ui.form .inline.fields label {
    font-size: 14px;
}

.validation_errors {
    background: #F7B3B3;
    padding: 10px;
    margin-bottom: 10px;
}
