<div id="header" class="ui inverted vertical segment">
  <div class="ui stackable divided grid">

    <div class="row">
      <div class="twelve wide column logo">
        <%= image_tag("cash.png") %> <span>Rude Bank</span>
      </div>
    </div>
  </div>
</div>

<div id="menu" class="ui menu inverted">
  <a class="item">Главная</a>
  <%= link_to "3аявка на кредит", new_bank_credit_path, class: "item" %></li>
  <div class="right menu">
    <a class="item">Авторизация</a>
    <a class="item">Выход</a>
  </div>
</div>